.hidden-nav {
    display: none;
}

.container-login {
    align-items: center;
    border: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}

.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo-img {
    max-height: 150px;
    max-width: 200px;
    height: auto;
    width: auto;
}

.google-logo {
    max-width: 30px;
}

.google-box {
    align-items: center;
    display: inline-flex;
    border: 2px;
    border-color: #305d6b;
    border-radius: 5px;
    border-style: solid;
    height: 20px;
    margin-top: 10px;
    width: 160px;
}

.title {
    color: #305d6b;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 20px;
}

.email-input, .password-input {
    border-color: #ba7fc2;
    border-radius: 30px;
    height: 30px;
    margin: 5px 0 5px 0;
    width: 200px;
}

.login-btn {
    background-color: #8BD3f8;
    border-color: #8BD3f8;
    border-radius: 30px;
    height: 30px;
    width: 150px;
}

.body-style {
    margin: 0;
    width: 100%;
}

.side-nav {
    background-color: #C3C0ED;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}

.side-nav a {
    color: black;
    display: block;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s
}

.side-nav a:hover, .offcanvas a:focus {
    color: red;
}

.side-nav, .close-btn {
    font-size: 36px;
    position: absolute;
    right: 25px;
    top: 0;
}

.top-nav {
    background-color: #C3C0ED;
    flex-wrap: nowrap;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

.top-nav a {
    color: black;
    display: block;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.top-nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav-style {
    align-items: center;
    display: flex;
    justify-content: center;
}

.figure-style {
    flex: 1;
    margin: 0;
    width: 40%;
}

#girly-img {
    width: 100%;
}

.span-style {
    font-size: 1.70em;
    width: 80%;
}

.main-style {
    margin-top: 90px;
}

.bottom-nav {
    background-color: #C3C0ED;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
}

.bottom-nav a {
    color: black;
    flex-direction: column;
    font-size: 0.800em;
    height: 100%;
    margin: 2px;
    text-decoration: none;
}

.ul-style {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    text-align: center;
}

.feed-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.feed-style {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bio-style {
    display: flex;
}

.img-perfil {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40%;
}

.foto-style {
    width: 90%;
}

.circular-square {
    border-radius: 50%;
}

.bio-infos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.text-style {
    margin: 0;
    text-align: justify;
}

.title-align {
    text-align: center;
}

.post-box {
    align-items: center;
    background-color: rgb(149, 212, 231);
    border: solid gray;
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: 1em;
    padding: 1em;
    width: 80%;
}

.textarea-style {
    border: double gray;
    height: 100%;
    text-align: justify;
    width: 95%;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5px;
}

.btn-style {
    padding: 1em 2em;
    background: rgb(217, 215, 223);
    border: 2px solid rgb(200, 191, 202);
    border-radius: 1em;
    margin: 5px;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.btn-style::before {
    background: rgb(186, 127, 194);
    border-radius: inherit;
    box-shadow: 0 0 0 2px rgb(166, 157, 216);
    height: 100%;
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    width: 100%;
}

.btn-style:hover {
    background: rgb(166, 157, 216);
    transform: translate(0, 0.375em);
}

.btn-style:active {
    transform: translate(0em, 0.75em);
}

.publication-box {
    background-color: #FFFFFF;
    border: solid gray;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 90%;
}

.publication-title {
    justify-content: space-between;
}

.close-post-btn {
    color: #ff0000;
    font-size: 36px;
    text-decoration: none;
}

.publi-area {
    padding-top: 3em;
}

.publication-title, .publication-btns {
    background-color: rgb(149, 212, 231);
    display: flex;
    text-align: justify;
    width: 100%;
}

.capa-style {
    display: none;
}

.footer-style {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 15%;
}

@media only screen and (min-width:768px) and (max-width:900px) {
    .main-style {
        margin-top: 150px;
    }
    .span-style {
        padding: 1em;
    }
    .fa-bars:before {
        font-size: 1.8em;
    }
    #open-sidebar {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 15px;
        padding: 0;
    }
    .img-perfil {
        justify-content: flex-end;
    }
    .figure-style {
        width: 100%;
    }
    #girly-img {
        width: 80%;
    }
    .span-style {
        width: 50%;
        font-size: 2.40em;
    }
    .foto-style {
        padding: 1.5em;
        width: 40%;
    }
    .bio-infos {
        align-items: flex-start;
        width: 60%;
    }
    .feed-container {
        width: 90%;
    }
    .post-box {
        width: 50%;
    }
    .publication-box {
        width: 54%;
    }
    .publi-title-span {
        text-align: center;
        width: 90%;
    }
    .btn-style {
        padding: 2%;
    }
    .publication-title, .ul-style a {
        display: flex;
    }
    .ul-style {
        justify-content: space-between;
    }
    .footer-style {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width:901px) {
    .main-style {
        display: flex;
        justify-content: center;
    }
    .text-style {
        text-align: center;
    }
    .span-style {
        font-size: 2em;
    }
    .feed-style {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        width: 70%;
        justify-content: center;
    }
    .capa-style {
        display: flex;
        width: 100%;
    }
    .img-capa {
        border-bottom: solid black;
        height: 85%;
        width: 100%;
    }
    .img-perfil {
        width: 50%;
    }
    .feed-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .bio-container {
        align-items: center;
        flex: 1;
    }
    .bio-style {
        border: solid black;
        display: flex;
        flex-wrap: wrap;
        margin-top: 2em;
    }
    .bio-infos {
        flex: 1;
    }
    .post-box {
        width: 70%;
    }
    .publication-box {
        width: 77%;
    }
    .btn-style {
        padding: 2px;
    }
    .ul-style a {
        display: flex;
    }
    .ul-style a {
        justify-content: space-evenly;
        margin: 10px;
    }
    .top-nav {
        align-items: center;
        /* display: flex; */
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .nav-style {
        width: 40%;
    }
    .hidden-nav{
        display: flex;
        /* justify-content: space-between;
        width: 50%; */
    }
    .bottom-nav {
        background-color: none;
        bottom: auto;
        height: auto;
        justify-content: space-evenly;
        left: 30%;
        top: 0;
        width: 70%;
    }
    .footer-style {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        bottom: auto;
    }
    .container-login {
        border: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        width: 100%;
    }
    .logo-img {
        height: auto;
        max-height: 2000px;
        max-width: 1200px;
        width: 400px;
    }
    .title {
        color: #305d6b;
        display: inline-flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        height: 50px;
        margin-bottom: 20px;
        margin-top: 60px;
    }
    h3 {
        font-size: 20px;
    }
    .email-input, .password-input {
        border-color: rgb(186, 127, 194);
        border-radius: 30px;
        height: 30px;
        margin: 5px 0 5px 0;
        width: 200px;
    }
    .login-btn {
        background-color: #8bd3f8;
        border-color: #8bd3f8;
        border-radius: 30px;
        height: 30px;
        width: 150px;
    }
}