/*  
   .menu {
    display: none;
   } */

.container-login {
    border: 10px;
    height: 500px;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;

}
.google-logo{
    max-width: 30px; 
      }

.google-box{
    width: 160px;
    height: 20px;
    border: 2px;
    border-style: solid;
    border-color: #09cabb;  
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}


.title {
    color: #09cabb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 20px;
    display: inline-flex;
}

.email-input,
.password-input {
    width: 200px;
    border-color: #FF2A7F;
    border-radius: 30px;
    height: 30px;
    margin: 5px 0 5px 0;


}


.login-btn {
    width: 150px;
    height: 30px;
    border-color: #fffa00;
    background-color: #fffa00; 
    border-radius: 30px;
}


footer {
    display: none;
    position: fixed;
    bottom: 5px;
}