teste teste teste .icon-del {
  color: #8c0f54;
}

.btn-accept-style {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: beige;
  border: 2px solid beige;
  border-radius: 1em;
  color: black;
  margin: 0.2em;
  padding: 0.5em;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  font-weight: bold;
}

.container-confirm-gender {
  display: flex;
}

.nova-class-icon {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5em;
  width: 100%;
}

.icons-text, .icons {
  color: beige;
}

.about-container {
  align-items: center;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em;
  text-align: center;
  display: flex;
}

select, button {
  cursor: pointer;
}

.ul-about li {
  list-style-position: inside;
  list-style-type: '*';
  text-align: center;
  text-align: justify;
}

.about-style-girly {
  border: none;
}

.policy-alert {
  background-color: #a97b75;
  border: solid #8c0f54;
  border-radius: 30px;
  color: black;
  font-size: 1em;
  padding: 1em;
  width: 70vw;
  text-align: center;
  font-weight: bold;
}

.about-style-rules, .about-style-tags {
  background-color: #a97b75;
  border: solid #8c0f54;
  border-radius: 30px;
  color: black;
  flex: 1;
  font-size: 1.2em;
  padding: 1em;
  width: 70vw;
}

.header-style {
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: #a16f68;
}

.img-feed {
  display: flex;
  flex-wrap: nowrap;
  height: 60vw;
  justify-content: center;
  padding-left: 4em;
  text-align: center;
  width: 50vw;
  align-items: center;
}

.btn-photo {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  width: 0.1px;
}

.hidden-nav {
  display: none;
}

.container-login {
  border: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  align-items: center;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo-img {
  height: auto;
  max-height: 150px;
  max-width: 200px;
  width: auto;
}

#file-input {
  opacity: 0;
}

#file-cover-input {
  opacity: 0;
}

.title {
  color: #8c0f54;
  display: inline-flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 20px;
}

.email-input, .password-input {
  border-color: #ba7fc2;
  border-radius: 30px;
  height: 30px;
  margin: 5px 0 5px 0;
  width: 200px;
}

.login-btn {
  background-color: #a97b75;
  border-color: #8c0f54;
  border-radius: 30px;
  height: 30px;
  width: 150px;
}

.text-profile {
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 17px;
  text-align: center;
}

.form-profile {
  display: flex;
  flex-direction: column;
}

.form-profile input {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.btn-display {
  display: flex;
  justify-content: space-between;
}

.form-profile input[type='submit'] {
  background-color: #a97b75;
  border-color: #a97b75;
  color: #fff;
  margin-left: 5px;
  width: 120px;
}

.form-profile input[type='button'] {
  background-color: #a97b75;
  border-color: #a97b75;
  color: #fff;
  margin-left: 5px;
  width: 120px;
}

.body-style {
  margin: 0;
  width: 100%;
}

.side-nav {
  background-color: #a97b75;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}

.side-nav a {
  color: beige;
  display: block;
  font-size: 25px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  transition: 0.3s;
}

.side-nav a:hover, .offcanvas a:focus {
  color: #8c0f54;
}

.close-btn {
  width: 30px;
  position: absolute;
  right: 25px;
  top: 0;
}

.top-nav {
  background-color: #a97b75;
  flex-wrap: nowrap;
  overflow: hidden;
  position: fixed;
  max-height: 12%;
  width: 100%;
  top: 0;
}

.top-nav a {
  color: beige;
  display: block;
  float: left;
  font-size: 1.8em;
  padding: 14px 16px;
  padding-top: 1em;
  text-align: center;
  text-decoration: none;
}

.top-nav a:hover {
  background-color: #a69dd8;
  color: black;
}

.nav-style {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 5em;
}

.figure-style {
  flex: 1;
  margin: 0;
  width: 40%;
}

#girly-img {
  width: 11vw;
  width: 100%;
}

.span-style {
  color: beige;
  font-size: 2em;
  width: 70%;
}

.main-style {
  margin-top: 90px;
}

.bottom-nav {
  background-color: #a97b75;
  bottom: 0;
  margin: 0;
  max-height: 5em;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
}

.bottom-nav a {
  color: black;
  flex-direction: column;
  font-size: 0.8em;
  height: 100%;
  margin: 2px;
  text-decoration: none;
}

.nav-ul {
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.ul-style {
  display: flex;
  font-size: 4.2vw;
  list-style-type: none;
  margin: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

.ul-style li {
  margin: 0 20px;
}

.icons-text {
  font-size: 0.47em;
}

[aria-current] {
  border-bottom: solid beige;
  border-width: 0.3em;
  padding-bottom: 0.3em;
}

.feed-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feed-style {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bio-style {
  display: flex;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  cursor: pointer;
  height: 150px;
  margin-right: 10px;
  width: 120px;
  overflow: hidden;
  object-fit: fill;
}

.profile-img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.bio-infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.comment {
  display: none;
  margin: 10px;
}

.alert-comment {
  border: 1px solid red !important;
}

.textarea-comment {
  background-color: #fffafa;
  border: double gray;
  border-radius: 1em;
  border-style: solid #8c0f54;
  height: 100%;
  margin: 5px;
  text-align: justify;
  resize: none;
  width: 97%;
}

.container-comment {
  display: flex;
  justify-content: space-between;
}

.delete-comment-btn {
  color: #a97b75;
  font-size: 2vw;
  text-align: center;
  text-decoration: none;
}

.text-style {
  font: 18px;
  margin: 0;
  text-align: center;
  margin-bottom: 2px;
}

.title-align {
  text-align: center;
}

.post-box {
  align-items: center;
  border: solid #8c0f54;
  background-image: linear-gradient(to bottom, #c3c0ed, #95d4e7, #bdd9ca);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 1em;
  text-align: center;
  width: 75vw;
}

.textarea-style {
  border-radius: 1em;
  border-style: solid #8c0f54;
  height: 100%;
  text-align: justify;
  width: 95%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 90%;
}

.img-check {
  background: #a97b75;
  border: 2px solid #a97b75;
}

#btn-ver-mais {
  margin-top: 3em;
}

#btn-ver-mais {
  margin-top: 3em;
}

.btn-style {
  background: #a97b75;
  border: 2px solid #a97b75;
  border-radius: 1em;
  color: beige;
  font-weight: bold;
  margin: 0.2em;
  padding: 0.5em;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.btn-style::before {
  background: rgb(186, 127, 194);
  border-radius: inherit;
  box-shadow: 0 0 0 2px rgb(166, 157, 216);
  height: 100%;
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  width: 100%;
}

.publication-box {
  background-color: #ffffff;
  border: solid #8c0f54;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 1em;
  text-align: justify;
  width: 85vw;
}

.publication-btns {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.span-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: 1;
  padding: 0.5em;
}

.delete-post-btn {
  color: #8c0f54;
  text-decoration: none;
}

.delete-post-btn:hover {
  color: #d80680;
  transform: translate(1);
}

.publi-area {
  padding-top: 3em;
}

.publication-title {
  background-image: linear-gradient(to bottom, #c3c0ed, #95d4e7, #bdd9ca);
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding: 5px;
  text-align: justify;
  width: 82vw;
}

.cover-container {
  display: none;
}

.check-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 0.5em;
  justify-content: space-between;
}

.footer-style {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  margin: 2em 0 5em 0;
}

.container {
  cursor: pointer;
  display: block;
  font-size: 22px;
  -moz-user-select: none;
  -ms-user-select: none;
  padding-left: 35px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.container input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkmark {
  background-color: #a97b75;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.container:hover input~.checkmark {
  background-color: #c3c0ed;
}

.container input:checked~.checkmark {
  background-color: rgb(166, 157, 216);
}

.checkmark:after {
  content: '';
  display: none;
  position: absolute;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  border: solid black;
  border-width: 0 3px 3px 0;
  height: 10px;
  left: 9px;
  -ms-transform: rotate(45deg);
  top: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .img-feed {
    padding-left: 3em;
    width: 40vw;
  }
  .span-style {
    font-size: 2.4em;
    padding: 1em;
  }
  .fa-bars:before {
    font-size: 1.3em;
  }
  #open-sidebar {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 0;
  }
  .profile-container {
    justify-content: flex-end;
  }
  .figure-style {
    width: 100%;
    z-index: 1;
  }
  #girly-img {
    width: 11vw;
    z-index: 1;
  }
  .span-style {
    font-size: 2.4em;
    width: 50%;
  }
  .profile-img {
    padding: 1.5em;
  }
  .bio-container {
    align-items: center;
    display: flex;
    flex: 1;
  }
  .bio-infos {
    align-items: flex-start;
    width: 60%;
  }
  .feed-style {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .feed-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .post-box {
    width: 45vw;
  }
  .publication-box {
    width: 50vw;
  }
  .publi-title-span {
    text-align: center;
    width: 90%;
  }
  .btn-style {
    margin: 0.6em;
    padding: 2%;
  }
  .btn-style:hover {
    background: rgb(166, 157, 216);
    transform: translate(0em, 0.75em);
  }
  .publication-title {
    margin-top: 0;
    width: 48.7vw;
  }
  .publication-title, .ul-style a {
    display: flex;
  }
  .btns-post-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1em;
    justify-content: space-between;
  }
  .publication-btns {
    align-items: center;
    flex: 1;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 0.5em;
  }
  .icons {
    color: beige;
    font-size: 3vw;
    text-align: center;
  }
  .top-nav {
    height: 10vw;
  }
  .top-nav a {
    font-size: 1.2em;
  }
  .bottom-nav a {
    margin: 0;
  }
  .ul-style {
    font-size: 1em;
    justify-content: space-evenly;
    padding-bottom: 0.3em;
  }
  .footer-style {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .policy-alert {
    width: 50vw;
  }
}

@media only screen and (min-width: 901px) {
  .img-feed {
    align-items: center;
    height: 5%;
    object-fit: fill;
    padding-right: 4em;
    width: 80%;
  }
  .main-style {
    padding-top: 2em;
    display: flex;
    justify-content: center;
  }
  .text-style {
    text-align: center;
  }
  .span-style {
    font-size: 2em;
    margin: 5px;
    width: auto;
  }
  .feed-style {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    justify-content: center;
  }
  #girly-img {
    width: 20%;
  }
  .cover-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .cover-img {
    cursor: pointer;
    width: 100%;
    object-fit: cover;
  }
  .cover-img:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
  .profile-container {
    width: 50%;
  }
  .feed-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .bio-container {
    align-items: center;
    flex: 1;
  }
  .bio-style {
    border: solid #8c0f54;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    overflow: hidden;
  }
  .bio-infos {
    flex: 1;
  }
  .post-box, .form-container {
    width: 35vw;
  }
  .form-style {
    width: 100%;
  }
  .textarea-style {
    padding: 1em;
    width: 33vw;
  }
  .publication-title {
    width: 37.4vw;
  }
  .publication-box, .all-posts-box {
    width: 38vw;
  }
  .img-feed-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .publication-btns {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .btn-container {
    justify-content: space-evenly;
  }
  .btn-style {
    padding: 2px;
    margin: 0.6em;
  }
  .ul-style {
    font-size: 0.8em;
  }
  .ul-style li {
    margin: 0;
    width: 100%;
  }
  .ul-style a {
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 2px;
  }
  .top-nav {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 8%;
    padding-bottom: 5px;
    padding-top: 10px;
    position: fixed;
  }
  .nav-style {
    width: 40%;
  }
  .nav-ul {
    overflow: hidden;
  }
  .hidden-nav {
    display: none;
  }
  .bottom-nav {
    background-color: none;
    bottom: auto;
    height: 8%;
    justify-content: space-evenly;
    left: 30%;
    top: 0;
    width: 60%;
    z-index: 1;
  }
  .icons {
    font-size: 1em;
    text-align: center;
  }
  .container-login {
    border: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%;
  }
  .logo-img {
    height: auto;
    max-height: 2000px;
    max-width: 1200px;
    width: 400px;
  }
  .title {
    color: #8c0f54;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  .email-input, .password-input {
    border-color: rgb(186, 127, 194);
    border-radius: 30px;
    height: 30px;
    margin: 5px 0 5px 0;
    width: 200px;
  }
  .login-btn {
    background-color: #a97b75;
    border-color: #a97b75;
    border-radius: 30px;
    height: 30px;
    width: 150px;
  }
  .footer-style {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: auto;
  }
  .icons-text {
    font-size: 0.7em;
  }
  .side-nav {
    z-index: 1;
  }
  .policy-alert {
    width: 30vw;
  }
}